@CHARSET "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
}

/* ***************************************************
 * PAGE
 */


body{
	background-color: #dcdfe6;
}

div.header{
	background-image: url('../img/bg.gif');
	color: #fff;
	height: 48px;
	border-bottom: 1px solid black;
	margin: 0 auto;
	padding: 10px;
}

.title{
	background: url('../img/sportback.png') no-repeat;
	height: 48px;
	min-width: 261px;
}

h1{
	padding-top: 10px;
	font-weight: bold;
	font-size: 32px;
	font-family: arial;
	font-style: italic;
}

h2{
	padding-top: 10px;
	font-weight: bold;
	font-size: 28px;
	font-family: arial;
	font-style: italic;
}

h3{
	padding-top: 10px;
	font-weight: bold;
	font-size: 24px;
	font-family: arial;
	font-style: italic;
}

h4{
	padding-top: 10px;
	font-weight: bold;
	font-size: 18px;
	font-family: arial;
	font-style: italic;
}

.content{
	padding: 0px 20px 0px 20px;
	background-color: #dcdfe6;
	color: #4d4e50;
	text-shadow: 0px 1px 0px #fff;
	font-family: Serif, Times;
	font-size: 14px;
}
/**
 * Table
 */
table.form{
	border: 1px solid black;
	padding: 0;
	margin: 10px;
}

td.form{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	vertical-align: middle;
}

tr.buttonBar{
	background-image: url('../img/bg.gif');
	height: 48px;
	border: 1px solid black;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
}
tr.buttonBar td{
	text-align: right;
}

/* ***************************************************
 * FORMULAIRES
 */

button.largePushButton{
	border: none;
	width:220px;
	height:77px;
	background-color: transparent;
	background-image: url('../img/submit-normal.png');
	color: #eee;
	font-family: Verdana, Helvetica, Arial;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 0px -2px -1px #888;
}

button.largePushButton:HOVER{
	background-image: url('../img/submit-hover.png');
}

button.largePushButton:ACTIVE{
	background-image: url('../img/submit-pushed.png');
	color: #ffe;
	text-shadow: 0px -2px -1px #ff8;
}

button.classic{
	border: none;
	width: 123px;
	height: 42px;
	background-color: transparent;
	background-image: url('../img/simpleButton.png');
	color: #eee;
	font-family: Verdana, Helvetica, Arial;
	font-size: 14px;
	margin: 8px 0 8px 0;
}

button.classic:HOVER{
	text-shadow: 0px 0px 8px #888;	
	color: #fff;
}

button.classic:ACTIVE{
	background-position: 0px 43px;
	height: 42px;
}

table.switch{
	border-collapse: collapse;
	border-spacing: 0px;
}

tr.switchRight_on{
	background-image: url('../img/large-switch.png');
	height: 78px;	
}

tr.switchLeft_on{
	background-image: url('../img/large-switch.png');
	background-position: 0px 78px;
	height: 78px;	
}

td.switchTagLeft, td.switchTagRight {
	width: 74px;
	height: 80px;
	padding-top: 4px;
	padding-left: 3px;
	vertical-align: middle;
	text-align: center;
}

tr.switchRight_on td.switchTagLeft a, tr.switchLeft_on td.switchTagRight a{
	color: #4a4a4a;
	text-decoration: none;
}

tr.switchRight_on td.switchTagRight a, tr.switchLeft_on td.switchTagLeft a{
	color: #da4c00;
	text-decoration: none;
	text-shadow: 0px 0px 4px #da4c00;
}

tr.switchRight_on td.switchTagLeft a:HOVER, 
tr.switchLeft_on td.switchTagRight a:HOVER{
	color: #00f;
	text-decoration: none;
	text-shadow: 0px 0px 4px #00f;
}

input[type="text"], input[type="password"] {
	border: 1px solid #888;
	padding: 1px;
	border-radius: 5px;
	height: 18px;
	background-color: #fff;
}

input[type="text"]:FOCUS, input[type="password"]:FOCUS {
	border-color: #da4c00;
	box-shadow: 0px 0px 5px #aaa;
}


select:FOCUS {
	border-color: #da4c00;
	box-shadow: 0px 0px 5px #aaa;
}
	
select {
	border: 1px solid #888;
	padding: 4px;
	border-radius: 5px;
	height: 25px;
	background-color: #fff;
	width: 180px;
}

div.checkboxButton_off, div.checkboxButton_on{
	width: 78px;
	height: 49px;
	padding-top: 31px;
	padding-left: 1px;
	text-align: center;
	background-image: url('../img/on-off-Button.png');
}
div.checkboxButton_on{
	background-position: 0px 78px;
}
div.checkboxButton_off a {
	color: #4A4A4A;
    text-decoration: none;
}
div.checkboxButton_off a:HOVER {
	color: #00f;
	text-decoration: none;
	text-shadow: 0px 0px 4px #00f;
}

div.checkboxButton_on a{
	color: #da4c00;
	text-decoration: none;
	text-shadow: 0px 0px 4px #da4c00;
}

.radioCheck a, .radioCheck_on a{
	padding: 6px 0px 8px 32px;
	background: url('../img/check-Button.png') no-repeat;
}

.radioCheck_on a{
	background-position: 0px -30px;
}

.radioCheck a:HOVER{
	background-position: 0px -61px;
}


.radioCheck_on a{
	color: #da4c00;
	text-decoration: none;
	text-shadow: 0px 0px 4px #da4c00;
}

.radioCheck a{
	color: #4A4A4A;
    text-decoration: none;
    text-shadow: none;
}

.radioCheck a:HOVER{
	color: #00f;
	text-decoration: none;
	text-shadow: 0px 0px 4px #00f;
}

/* ***************************************************
 * MESSAGES
 */

div.message_info{
	border: 1px solid #85b0b9;
	color: #4d668b;
	background-color: #d7f1f6;
	margin: 0 auto;
	text-decoration: none;
	text-shadow: none;
	padding: 10px 10px 10px 10px;
	font-family: Arial, sans;
	font-size: 14px;
	background-image: url('../img/messageBox-info.png');
	background-repeat: no-repeat;
	background-position: right;
	margin: 10px 0 10px 0;
}

div.message_warn{
	border: 1px solid #c79f1f;
	color: #977918;
	background-color: #e9eaa8;
	margin: 0 auto;
	text-decoration: none;
	text-shadow: none;
	padding: 10px 10px 10px 10px;
	font-family: Arial, sans;
	font-size: 14px;
	background-image: url('../img/messageBox-warn.png');
	background-repeat: no-repeat;
	background-position: right;
	margin: 10px 0 10px 0;
}

div.message_error{
	border: 1px solid #c71f1f;
	color: #931717;
	background-color: #eaa8a8;
	margin: 0 auto;
	text-decoration: none;
	text-shadow: none;
	padding: 10px 10px 10px 10px;
	font-family: Arial, sans;
	font-size: 14px;
	background-image: url('../img/messageBox-error.png');
	background-repeat: no-repeat;
	background-position: right;
	margin: 10px 0 10px 0;
}


/* ***************************************************
 * TABLEAU
 */

table.data{
	/*border: 1px solid black;*/
	/* bdbec0 - d8d9dd - e7e8ec */
	border-collapse: collapse;
}
tr.header{
	
}

tr.header th{
	background-image: url('../img/table-header.png');
	background-repeat: no-repeat;
	padding: 8px 10px 5px 10px;
	height: 22px;
	background-position: -14px 0px;
	border-right: 1px solid #b4b5b7;
	font-family: sans-serif;
}

tr.header th:first-child{
	background-position: 0px 0px;
}


tr.header th:last-child{
	background-image: url('../img/table-header.png');
	background-repeat: no-repeat;
	background-position: 100% -56px;
	border-right: none;
}

table.data tr td{
	padding: 2px 5px 2px 10px;
	font-family: sans-serif;
	background-color: #fff;
	border-right: 1px solid #b4b5b7;
}

table.data tr td:first-child{
	background-image: url('../img/table-content-left.png');
	background-repeat: repeat-y;
}

table.data tr td:last-child{
	background-image: url('../img/table-content-right.png');
	background-repeat: repeat-y;
	background-position: right;
	border: none;
}

table.data tr.even td{
	background-color: #ebe4e0;
}

table.data tr:last-child{
	border-bottom: 1px solid #b4b5b7;
}


/* ***************************************************
 * TRI dans les tableaux
 */

tr.header th a.sortable {
	background: url(../img/table_sort_arrow.gif) right no-repeat;
	color: #4A4A4A;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}

tr.header th a.sortable:hover {
	color: #00f;
	text-shadow: 0 0 4px #00f;
}


tr.header th a.sortUp, tr.header th a.sortDown {
	background: url(../img/table_sort_arrow_asc.gif) right no-repeat;
	color: #DA4C00;
    text-decoration: none;
    font-weight: bold;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}

tr.header th a.sortUp:hover, tr.header th a.sortDown:hover {
    text-shadow: 0 0 4px #DA4C00;
}

tr.header th a.sortDown{
	background: url(../img/table_sort_arrow_desc.gif) right no-repeat;
}


/* ***************************************************
 * PAGINATION
 */

.pagination {
	float: right;
	margin: 0 4px 0 0;
	border-collapse: separate;
	text-shadow: none;
	text-decoration: none;
}

.page-left, .currentPage, .page-right, .numPage
{
	height: 22px;
	width: 22px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #9c9c9c;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.page-left a, .page-right a, .numPage a {
	color: #4A4A4A;
	font-size: 14px;
	text-shadow: none;
	text-decoration: none;
}

td.page-left a:HOVER, td.page-right a:HOVER, td.numPage a:HOVER {
	color: #000;
}

.currentPage {
	font-size: 14px;
	background-color: #faf7f6;
	border-color: #000;
	color: #DA4C00;
    text-decoration: none;
    text-shadow: 0 0 4px #DA4C00;	
}


#page-info	{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
}